.st-checkout-page {

  margin-top: 60px;

  margin-bottom: 60px; }

  .st-checkout-page h3.title {

    margin: 0;

    color: #1A2B48;

    font-size: 24px;

    font-weight: 500; }

  .st-checkout-page .check-out-form {

    border-top: 2px solid #DAE1E7;

    padding-top: 30px;

    margin-top: 20px; }

    .st-checkout-page .check-out-form .form-group label {

      font-size: 14px;

      font-weight: 400;

      margin-bottom: 10px; }

      .st-checkout-page .check-out-form .form-group label span.required {

        color: red;

        font-weight: 400; }

    .st-checkout-page .check-out-form .form-group .form-control {

      border: 1px solid #DAE1E7;

      border-radius: 3px;

      -webkit-box-shadow: none;

      box-shadow: none;

      margin-bottom: 30px; }

      .st-checkout-page .check-out-form .form-group .form-control.error {

        border-color: red; }

    .st-checkout-page .check-out-form .form-group input {

      height: 40px; }

    .st-checkout-page .check-out-form .entry-content {

      margin-bottom: 20px; }

    .st-checkout-page .check-out-form .form-group label span.require {

      color: red; }

    .st-checkout-page .check-out-form .form-group .fa {

      display: none; }

  .st-checkout-page .payment-form h4.title {

    margin-bottom: 30px; }

  .st-checkout-page .payment-form .payment-item {

    margin-bottom: 35px;

    min-height: 60px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center; }

    .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item {

      padding-left: 0; }

      .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item label {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;

        -webkit-box-align: center;

        -ms-flex-align: center;

        align-items: center; }

        .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item label .check-payment {

          position: relative;

          overflow: hidden;

          height: 16px;

          width: 16px;

          float: left;

          margin-right: 15px; }

          .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item label .check-payment input[type="radio"] {

            position: absolute;

            opacity: 0;

            cursor: pointer;

            margin: 0;

            top: 0;

            left: 0; }

          .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item label .check-payment .checkmark {

            position: absolute;

            top: 0;

            left: 0;

            height: 16px;

            width: 16px;

            background-color: #fff;

            border-radius: 50%;

            border: 1px solid #A0A9B2; }

      .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item .payment-title {

        min-width: 140px;

        display: inline-block;

        color: #1A2B48;

        font-weight: 500; }

      .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item img {

        max-height: 60px; }

        .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item img.st_skrill {

          max-height: 25px; }

        .st-checkout-page .payment-form .payment-item .st-icheck .st-icheck-item img.st_twocheckout {

          max-height: 20px; }

    .st-checkout-page .payment-form .payment-item .dropdown {

      width: 100%; }

    .st-checkout-page .payment-form .payment-item .dropdown-menu {

      width: 100%;

      margin-top: 30px;

      border: 2px solid #D7DCE3;

      border-radius: 3px;

      -webkit-box-shadow: none;

      box-shadow: none;

      position: relative;

      padding: 25px 15px; }

      .st-checkout-page .payment-form .payment-item .dropdown-menu:before {

        content: '';

        width: 0;

        height: 0;

        border-style: solid;

        position: absolute;

        border-width: 10px;

        border-color: transparent #fff #fff transparent;

        top: -8px;

        left: 30px;

        right: 0;

        -webkit-transform: rotate(225deg);

        transform: rotate(225deg);

        -webkit-box-shadow: 2px 2px 0px #dfdfdf;

        box-shadow: 2px 2px 0px #dfdfdf; }

      .st-checkout-page .payment-form .payment-item .dropdown-menu .pm-info img {

        max-width: 100%;

        height: auto; }

      .st-checkout-page .payment-form .payment-item .dropdown-menu .pm-info p {

        margin: 0; }

    .st-checkout-page .payment-form .payment-item:after {

      content: '';

      display: block;

      clear: both; }

    .st-checkout-page .payment-form .payment-item.payment-gateway-st_paypal .dropdown .dropdown-menu .pm-info img {

      max-width: 180px;

      margin-bottom: 10px; }

  .st-checkout-page .cond-form {

    margin-top: 20px; }

    .st-checkout-page .cond-form .st-icheck {

      margin-bottom: 30px; }

      .st-checkout-page .cond-form .st-icheck .st-icheck-item {

        padding-left: 35px;

        color: #5E6D77; }

        .st-checkout-page .cond-form .st-icheck .st-icheck-item a {

          color: #5191FA;

          font-weight: 500; }

  .st-checkout-page .cart-info {

    border: 1px solid #D7DCE3;

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    border-radius: 3px;

    margin-top: 20px; }

    @media screen and (max-width: 991px) {

      .st-checkout-page .cart-info {

        margin-bottom: 50px; } }

    .st-checkout-page .cart-info .service-section {

      padding: 30px;

      border-bottom: 1px solid #EAEEF3;

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;

      -webkit-box-pack: justify;

      -ms-flex-pack: justify;

      justify-content: space-between; }

      @media screen and (max-width: 1199px) {

        .st-checkout-page .cart-info .service-section {

          padding: 25px 15px; } }

      .st-checkout-page .cart-info .service-section .service-left h4.title {

        font-size: 16px;

        line-height: 25px;

        font-weight: 500;

        margin-right: 10px; }

        .st-checkout-page .cart-info .service-section .service-left h4.title a {

          color: #1A2B48; }

      .st-checkout-page .cart-info .service-section .service-left .address {

        color: #5E6D77;

        margin-bottom: 0px; }

        .st-checkout-page .cart-info .service-section .service-left .address .field-icon {

          position: relative;

          top: 2px;

          left: -2px; }

      .st-checkout-page .cart-info .service-section .service-right img {

        min-width: 110px; }

    .st-checkout-page .cart-info .coupon-section {

      padding: 30px;

      border-bottom: 1px solid #EAEEF3; }

      @media screen and (max-width: 1199px) {

        .st-checkout-page .cart-info .coupon-section {

          padding: 25px 15px; } }

      .st-checkout-page .cart-info .coupon-section h5 {

        color: #1A2B48;

        margin-bottom: 20px;

        font-weight: 400; }

      .st-checkout-page .cart-info .coupon-section form .form-group {

        margin-bottom: 0px;

        display: block;

        width: 100%; }

        .st-checkout-page .cart-info .coupon-section form .form-group input[type="text"] {

          border: 1px solid #EAEEF3;

          border-radius: 3px;

          height: 40px;

          width: 66%;

          margin-right: 5px;

          padding: 10px; }

          .st-checkout-page .cart-info .coupon-section form .form-group input[type="text"].error {

            border-color: #cc0000; }

        .st-checkout-page .cart-info .coupon-section form .form-group .btn {

          width: 30%;

          background: #5191FA;

          border-radius: 3px;

          height: 40px;

          float: right; }

          .st-checkout-page .cart-info .coupon-section form .form-group .btn .fa {

            margin-left: 5px; }

    .st-checkout-page .cart-info .total-section {

      padding: 30px; }

      @media screen and (max-width: 1199px) {

        .st-checkout-page .cart-info .total-section {

          padding: 25px 15px; } }

      .st-checkout-page .cart-info .total-section ul {

        padding: 0;

        margin: 0; }

        .st-checkout-page .cart-info .total-section ul li {

          list-style: none;

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;

          font-size: 14px;

          margin-bottom: 13px;

          -webkit-box-pack: justify;

          -ms-flex-pack: justify;

          justify-content: space-between; }

          .st-checkout-page .cart-info .total-section ul li span.label {

            color: #1A2B48;

            font-size: 100%;

            padding: 0;

            text-align: left;

            font-weight: 400; }

          .st-checkout-page .cart-info .total-section ul li span.value {

            justify-items: right;

            font-size: 100%;

            color: #5E6D77;

            font-weight: 400; }

          .st-checkout-page .cart-info .total-section ul li:last-child {

            margin-bottom: 0px; }

          .st-checkout-page .cart-info .total-section ul li.payment-amount {

            font-size: 18px; }

            .st-checkout-page .cart-info .total-section ul li.payment-amount span.value {

              color: #1A2B48; }

    .st-checkout-page .cart-info .info-section {

      padding: 30px;

      border-bottom: 1px solid #EAEEF3; }

      @media screen and (max-width: 1199px) {

        .st-checkout-page .cart-info .info-section {

          padding: 25px 15px; } }

      .st-checkout-page .cart-info .info-section ul {

        padding: 0;

        margin: 0; }

        .st-checkout-page .cart-info .info-section ul li {

          list-style: none;

          font-size: 14px;

          margin-bottom: 13px;

          overflow: hidden; }

          .st-checkout-page .cart-info .info-section ul li span {

            padding-left: 0; }

            .st-checkout-page .cart-info .info-section ul li span.label {

              color: #1A2B48;

              font-size: 100%;

              width: 45%;

              display: inline-block;

              text-align: left;

              padding: 0;

              white-space: normal;

              line-height: 18px;

              font-weight: 400; }

            .st-checkout-page .cart-info .info-section ul li span.value {

              justify-items: right;

              font-size: 100%;

              color: #5E6D77;

              font-weight: 400;

              float: right;

              width: 55%; }

          .st-checkout-page .cart-info .info-section ul li:last-child {

            margin-bottom: 0px; }

          .st-checkout-page .cart-info .info-section ul li.ad-info {

            margin-top: 10px; }

            .st-checkout-page .cart-info .info-section ul li.ad-info ul {

              background: #F5F5F5;

              border-radius: 3px;

              padding: 20px;

              width: 100%; }

              .st-checkout-page .cart-info .info-section ul li.ad-info ul li {

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;

                -webkit-box-pack: justify;

                -ms-flex-pack: justify;

                justify-content: space-between;

                font-size: 14px;

                padding-bottom: 10px;

                border-bottom: 1px solid  #EAEEF3; }

                .st-checkout-page .cart-info .info-section ul li.ad-info ul li span.label {

                  color: #1A2B48;

                  font-size: 100%;

                  padding: 0;

                  width: 60%;

                  font-weight: 400; }

                .st-checkout-page .cart-info .info-section ul li.ad-info ul li span.value {

                  justify-items: right;

                  font-size: 100%;

                  color: #5E6D77;

                  font-weight: 500;

                  width: 40%;

                  font-weight: 400; }

                .st-checkout-page .cart-info .info-section ul li.ad-info ul li:last-child {

                  border: none;

                  padding-bottom: 0px; }

          .st-checkout-page .cart-info .info-section ul li .detail .btn {

            background: transparent;

            color: #5191FA;

            margin-left: 35%;

            padding: 0;

            margin-bottom: 10px;

            margin-top: 5px;

            outline: none; }

            .st-checkout-page .cart-info .info-section ul li .detail .btn:active {

              -webkit-box-shadow: none;

              box-shadow: none; }

          .st-checkout-page .cart-info .info-section ul li .detail .detail-list {

            display: none;

            margin-bottom: 20px; }

            .st-checkout-page .cart-info .info-section ul li .detail .detail-list li {

              border-bottom: 1px solid #dfdfdf;

              display: -webkit-box;

              display: -ms-flexbox;

              display: flex;

              -webkit-box-pack: justify;

              -ms-flex-pack: justify;

              justify-content: space-between;

              -webkit-box-align: baseline;

              -ms-flex-align: baseline;

              align-items: baseline;

              font-weight: normal;

              padding: 10px 0; }

              .st-checkout-page .cart-info .info-section ul li .detail .detail-list li span {

                padding: 0 5px; }

                .st-checkout-page .cart-info .info-section ul li .detail .detail-list li span.label {

                  color: #1A2B48;

                  font-size: 100%;

                  font-weight: normal;

                  width: 70%;

                  font-weight: 400; }

                .st-checkout-page .cart-info .info-section ul li .detail .detail-list li span.value {

                  justify-items: right;

                  font-size: 100%;

                  color: #5E6D77;

                  font-weight: normal;

                  width: 30%;

                  font-weight: 400; }

              .st-checkout-page .cart-info .info-section ul li .detail .detail-list li.head {

                font-weight: 500;

                padding: 10px 0 7px 0;

                background-color: #F5F5F5;

                margin-bottom: 0px; }

                .st-checkout-page .cart-info .info-section ul li .detail .detail-list li.head span {

                  font-weight: 400; }

          .st-checkout-page .cart-info .info-section ul li.extra-value span {

            font-size: 100%;

            color: #5E6D77;

            font-weight: 500; }

          .st-checkout-page .cart-info .info-section ul li.guest-value {

            color: #5E6D77;

            font-weight: 500; }

            .st-checkout-page .cart-info .info-section ul li.guest-value strong {

              font-weight: bold;

              color: #333; }

  .st-checkout-page .btn-checkout {

    padding-left: 50px;

    padding-right: 50px;

    font-size: 14px;

    color: #FFFFFF;

    margin-top: 30px; }

  .st-checkout-page .info-form {

    border: 1px solid #D7DCE3;

    border-radius: 3px;

    padding: 30px;

    margin-top: 20px; }

    .st-checkout-page .info-form ul {

      padding: 0;

      margin: 0; }

      .st-checkout-page .info-form ul li {

        list-style: none;

        padding-bottom: 20px;

        margin-bottom: 20px;

        border-bottom: 1px solid #DAE1E7; }

        .st-checkout-page .info-form ul li span {

          padding: 0; }

          .st-checkout-page .info-form ul li span.label {

            font-size: 14px;

            color: #1A2B48;

            width: 40%;

            display: inline-block;

            text-align: left;

            font-weight: 400; }

          .st-checkout-page .info-form ul li span.value {

            font-size: 14px;

            color: #5E6D77;

            width: 60%;

            display: inline-block; }

            @media screen and (max-width: 767px) {

              .st-checkout-page .info-form ul li span.value {

                margin-top: 10px; } }

          @media screen and (max-width: 767px) {

            .st-checkout-page .info-form ul li span {

              width: 100% !important; } }

        .st-checkout-page .info-form ul li:last-child {

          padding-bottom: 0;

          margin-bottom: 0;

          border: none; }

  .st-checkout-page .booking-success-notice {

    margin-bottom: 100px; }

    @media screen and (max-width: 991px) {

      .st-checkout-page .booking-success-notice {

        margin-bottom: 55px; } }

    .st-checkout-page .booking-success-notice .col-left {

      display: -webkit-box;

      display: -ms-flexbox;

      display: flex;

      -webkit-box-align: center;

      -ms-flex-align: center;

      align-items: center; }

      @media screen and (max-width: 520px) {

        .st-checkout-page .booking-success-notice .col-left {

          display: block;

          text-align: center; } }

      .st-checkout-page .booking-success-notice .col-left .notice-success {

        margin-left: 20px; }

        @media screen and (max-width: 520px) {

          .st-checkout-page .booking-success-notice .col-left .notice-success {

            margin-left: 0; } }

        .st-checkout-page .booking-success-notice .col-left .notice-success .line1 {

          margin-bottom: 0px;

          font-size: 24px;

          color: #00001E;

          line-height: 35px; }

          .st-checkout-page .booking-success-notice .col-left .notice-success .line1 span {

            color: #1A2B48;

            font-weight: 600; }

        .st-checkout-page .booking-success-notice .col-left .notice-success .line2 {

          font-size: 16px;

          color: #5E6D77;

          margin-bottom: 0px; }

          .st-checkout-page .booking-success-notice .col-left .notice-success .line2 span {

            font-size: 16px;

            color: #000000; }

      @media screen and (max-width: 520px) {

        .st-checkout-page .booking-success-notice .col-left img {

          display: block;

          margin: auto;

          margin-bottom: 10px; } }

    .st-checkout-page .booking-success-notice .booking-info-detail {

      padding: 0;

      margin: 0;

      border-left: 3px solid #5191FA;

      padding-left: 30px; }

      @media screen and (max-width: 991px) {

        .st-checkout-page .booking-success-notice .booking-info-detail {

          border: none;

          padding-left: 0;

          margin-top: 30px; } }

      @media screen and (max-width: 520px) {

        .st-checkout-page .booking-success-notice .booking-info-detail {

          text-align: center; } }

      .st-checkout-page .booking-success-notice .booking-info-detail li {

        list-style: none;

        font-size: 16px;

        color: #818181;

        padding: 5px 0; }

        .st-checkout-page .booking-success-notice .booking-info-detail li span {

          font-weight: 500;

          color: #000000; }

.btn-st-checkout-submit .fa {

  display: none;

  margin-left: 10px; }

.btn-st-checkout-submit.loading .fa {

  display: inline-block; }

.payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 {

  width: 100%; }

  .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center; }

    .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date {

      width: 60%;

      margin-right: 15px; }

      .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date select {

        height: 40px;

        margin-bottom: 0px; }

      .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex; }

        .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls .form-control-wrap {

          width: 50%; }

          .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls .form-control-wrap:first-child {

            margin-right: 15px; }

    .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .card-code {

      width: 40%; }

      .payment-gateway-st_stripe .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .card-code .form-control {

        margin-bottom: 0px; }

.payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 {

  width: 100%; }

  .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info > .form-group {

    width: 48%;

    float: left; }

    .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info > .form-group.second {

      float: right;

      width: 48%; }

  .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .form-group-card-country {

    margin-right: 15px; }

  .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info select {

    height: 40px; }

  .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    width: 100%; }

    .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date {

      width: 60%;

      margin-right: 15px; }

      .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date select {

        height: 40px;

        margin-bottom: 0px; }

      .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex; }

        .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls .form-control-wrap {

          width: 50%; }

          .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls .form-control-wrap:first-child {

            margin-right: 15px; }

    .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .card-code {

      width: 40%; }

      .payment-gateway-wrapper .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .card-code .form-control {

        margin-bottom: 0px; }

.payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 {

  width: 100%; }

  .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info > .form-group {

    width: 48%;

    float: left; }

    .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info > .form-group.second {

      float: right;

      width: 48%; }

  .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    width: 100%; }

    .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date {

      width: 60%;

      margin-right: 15px; }

      .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date select {

        height: 40px;

        margin-bottom: 0px; }

      .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex; }

        .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls .form-control-wrap {

          width: 50%; }

          .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .expiry-date .controls .form-control-wrap:first-child {

            margin-right: 15px; }

    .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .card-code {

      width: 40%; }

      .payment-gateway-st_twocheckout .dropdown-menu .pm-info .col-sm-6 .col-card-info .card-code-expiry .card-code .form-control {

        margin-bottom: 0px; }

.st-confirm-order {

  padding-top: 80px;

  padding-bottom: 80px; }

  .st-confirm-order .fa {

    width: 65px;

    height: 65px;

    text-align: center;

    line-height: 64px;

    font-size: 32px;

    color: #FFF;

    border-radius: 50%;

    margin: auto;

    display: block;

    margin-bottom: 35px; }

    .st-confirm-order .fa.box-iconn-successnew {

      background-color: #68BF58; }

    .st-confirm-order .fa.box-iconn-dangernew {

      background: rgba(255, 0, 0, 0.7); }

/*Woo cart page*/

.st-woo-cartpage {

  padding-top: 35px; }

  .st-woo-cartpage h2.st-woo-heading {

    margin: 0;

    color: #1A2B48;

    font-size: 24px;

    font-weight: 500; }

  .st-woo-cartpage .cart-collaterals {

    border: 1px solid #D7DCE3;

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    border-radius: 3px;

    margin-top: 20px;

    padding: 30px; }

    .st-woo-cartpage .cart-collaterals .cart_totals {

      width: 100%; }

      .st-woo-cartpage .cart-collaterals .cart_totals .shop_table {

        border: none; }

        .st-woo-cartpage .cart-collaterals .cart_totals .shop_table th, .st-woo-cartpage .cart-collaterals .cart_totals .shop_table td {

          padding: 0 0 15px 0;

          border: none; }

        .st-woo-cartpage .cart-collaterals .cart_totals .shop_table th {

          color: #1A2B48;

          font-size: 100%;

          padding: 0;

          text-align: left;

          font-weight: 400; }

        .st-woo-cartpage .cart-collaterals .cart_totals .shop_table td {

          color: #5E6D77;

          font-weight: 400;

          text-align: right; }

        .st-woo-cartpage .cart-collaterals .cart_totals .shop_table tr.order-total th {

          color: #1A2B48;

          font-size: 18px;

          padding-bottom: 0px; }

        .st-woo-cartpage .cart-collaterals .cart_totals .shop_table tr.order-total td {

          color: #1A2B48;

          font-size: 18px;

          padding-bottom: 0px; }

          .st-woo-cartpage .cart-collaterals .cart_totals .shop_table tr.order-total td strong {

            font-weight: 450; }

      .st-woo-cartpage .cart-collaterals .cart_totals .wc-proceed-to-checkout {

        padding-bottom: 0px; }

        .st-woo-cartpage .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {

          background: #5191FA;

          border-radius: 3px;

          height: 45px;

          line-height: 18px;

          font-size: 15px;

          font-weight: 400;

          margin-bottom: 0px; }

          @media screen and (max-width: 520px) {

            .st-woo-cartpage .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {

              height: auto; } }

  .st-woo-cartpage .col-left .shop_table {

    border: none;

    border-top: 1px solid #dfdfdf;

    border-radius: 0;

    margin-top: 30px; }

    .st-woo-cartpage .col-left .shop_table tr td.actions {

      padding: 15px 0; }

      .st-woo-cartpage .col-left .shop_table tr td.actions .coupon .input-text {

        border: 1px solid #EAEEF3;

        border-radius: 3px;

        height: 40px;

        margin-right: 5px;

        padding: 10px;

        min-width: 180px;

        margin-bottom: 7px; }

      .st-woo-cartpage .col-left .shop_table tr td.actions .coupon input[type="submit"] {

        background: #5191FA;

        border-radius: 3px;

        height: 40px;

        font-weight: 400;

        width: auto;

        float: left; }

      .st-woo-cartpage .col-left .shop_table tr td.actions input[type="submit"][name="update_cart"] {

        font-weight: 400;

        background: #5191FA;

        border-radius: 3px;

        height: 40px;

        float: right; }

        @media screen and (max-width: 767px) {

          .st-woo-cartpage .col-left .shop_table tr td.actions input[type="submit"][name="update_cart"] {

            float: left; } }

  .st-woo-cartpage .col-left .booking-list {

    border-top: 2px solid #DAE1E7;

    padding-top: 30px;

    margin-top: 20px;

    padding-left: 0px; }

    .st-woo-cartpage .col-left .booking-list .cart_item {

      list-style: none;

      border-bottom: 1px dashed #dfdfdf;

      margin-bottom: 25px;

      padding-bottom: 30px; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item-wishlist-title {

        border-bottom: 2px solid #5191fa;

        margin-bottom: 10px;

        display: inline-block;

        text-transform: capitalize; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item-wishlist-remove {

        margin-left: 10px;

        font-size: 15px;

        font-weight: normal;

        position: relative;

        top: 1px; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .wp-post-image {

        min-width: 100%; }

        @media screen and (max-width: 767px) {

          .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .wp-post-image {

            margin-bottom: 15px; } }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .booking-item-title {

        margin-top: 0px;

        font-size: 16px;

        line-height: 20px; }

        .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .booking-item-title a {

          color: #5191fa; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .booking-item-address .fa {

        position: relative;

        top: 2px;

        left: -3px; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .cart_item_group b.booking-cart-item-title {

        font-weight: 450; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item .booking-item-price {

        color: #1A2B48;

        font-size: 20px; }

      .st-woo-cartpage .col-left .booking-list .cart_item .booking-item ._show_wc_cart_item_information_btn {

        font-size: 12px;

        font-weight: 450;

        cursor: pointer; }

      .st-woo-cartpage .col-left .booking-list .cart_item:last-child {

        border: none;

        padding-bottom: 0; }

.st-woo-checkout-form .st-woo-heading {

  margin: 0;

  color: #1A2B48;

  font-size: 24px;

  font-weight: 500; }

.st-woo-checkout-form .woocommerce-checkout-review-order-table {

  border: 1px solid #D7DCE3;

  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  border-radius: 3px;

  margin-top: 20px;

  padding: 30px; }

  .st-woo-checkout-form .woocommerce-checkout-review-order-table header {

    border-bottom: 1px solid #EAEEF3;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;

    margin-bottom: 20px;

    padding-bottom: 20px; }

    .st-woo-checkout-form .woocommerce-checkout-review-order-table header .col-left {

      width: 100%; }

      .st-woo-checkout-form .woocommerce-checkout-review-order-table header .col-left .booking-item-payment-title {

        font-size: 16px;

        line-height: 25px;

        font-weight: 450;

        margin-top: 0px; }

        .st-woo-checkout-form .woocommerce-checkout-review-order-table header .col-left .booking-item-payment-title a {

          color: #1A2B48; }

      .st-woo-checkout-form .woocommerce-checkout-review-order-table header .col-left .address {

        color: #5E6D77;

        margin-bottom: 0px; }

        .st-woo-checkout-form .woocommerce-checkout-review-order-table header .col-left .address .fa {

          position: relative;

          top: 3px;

          left: -3px; }

      .st-woo-checkout-form .woocommerce-checkout-review-order-table header .col-left .price {

        font-weight: 450;

        font-size: 16px;

        margin-top: 5px;

        margin-bottom: 0px; }

    .st-woo-checkout-form .woocommerce-checkout-review-order-table header .booking-item-payment-img {

      width: 120px;

      margin-left: 10px; }

  .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-details {

    padding: 0; }

    .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-details li {

      list-style: none; }

      .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-details li .booking-item-payment-price {

        padding: 0;

        overflow: hidden; }

        .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-details li .booking-item-payment-price li {

          font-size: 14px;

          display: -webkit-box;

          display: -ms-flexbox;

          display: flex;

          -webkit-box-pack: justify;

          -ms-flex-pack: justify;

          justify-content: space-between; }

          .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-details li .booking-item-payment-price li .booking-item-payment-price-title {

            display: inline-block;

            float: left;

            color: #1A2B48;

            font-size: 100%;

            padding: 0;

            text-align: left;

            font-weight: 400; }

          .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-details li .booking-item-payment-price li .booking-item-payment-price-amount {

            display: inline-block;

            font-size: 100%;

            color: #5E6D77;

            font-weight: 400; }

  .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-total {

    margin-bottom: 0px;

    color: #1A2B48;

    padding: 0;

    text-align: left;

    font-weight: 400;

    font-size: 18px; }

    .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-total span {

      float: right; }

      .st-woo-checkout-form .woocommerce-checkout-review-order-table .booking-item-payment-total span strong {

        font-weight: 450; }

.st-woo-checkout-form .woocommerce-billing-fields h3 {

  margin: 0;

  color: #1A2B48;

  font-size: 24px;

  font-weight: 500; }

.st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {

  border-top: 2px solid #DAE1E7;

  padding-top: 30px;

  margin-top: 20px; }

  .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .input-text {

    height: 40px;

    border: 1px solid #DAE1E7;

    border-radius: 3px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555; }

  .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper label {

    font-size: 14px;

    font-weight: 400;

    margin-bottom: 10px;

    color: #1A2B48; }

  .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .address-field .select2-container .select2-selection {

    height: 40px;

    border: 1px solid #DAE1E7;

    border-radius: 3px;

    font-size: 14px; }

    .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .address-field .select2-container .select2-selection .select2-selection__rendered {

      line-height: 38px;

      padding: 0px 12px; }

    .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .address-field .select2-container .select2-selection .select2-selection__arrow {

      height: 100%; }

  .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row {

    width: 50%;

    float: left;

    clear: none;

    padding: 5px; }

    @media screen and (max-width: 767px) {

      .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row {

        width: 100%; } }

    .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row:nth-child(2n) {

      float: right; }

    .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row#billing_address_1_field {

      clear: both; }

    .st-woo-checkout-form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row#billing_address_2_field label {

      height: auto;

      visibility: visible;

      width: auto;

      position: relative !important; }

.st-woo-checkout-form .woocommerce-additional-fields h3 {

  margin: 0;

  color: #1A2B48;

  font-size: 24px;

  font-weight: 500; }

.st-woo-checkout-form .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper {

  margin-top: 15px; }

  .st-woo-checkout-form .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .notes label {

    font-weight: 400;

    font-size: 14px; }

  .st-woo-checkout-form .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .notes .input-text {

    height: 40px;

    border: 1px solid #DAE1E7;

    border-radius: 3px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 1.42857143;

    color: #555; }

  .st-woo-checkout-form .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .notes textarea.input-text {

    height: auto; }

.st-woo-checkout-form .woocommerce-checkout-payment {

  background: transparent !important; }

  .st-woo-checkout-form .woocommerce-checkout-payment .wc_payment_methods {

    border: none !important;

    background: #F5F5F5 !important;

    border-radius: 5px; }

    .st-woo-checkout-form .woocommerce-checkout-payment .wc_payment_methods li.wc_payment_method {

      margin-bottom: 10px !important;

      margin-top: 20px !important; }

      .st-woo-checkout-form .woocommerce-checkout-payment .wc_payment_methods li.wc_payment_method > div {

        background: #FFFFFF !important; }

        .st-woo-checkout-form .woocommerce-checkout-payment .wc_payment_methods li.wc_payment_method > div:before {

          border-bottom-color: #fff !important; }

      .st-woo-checkout-form .woocommerce-checkout-payment .wc_payment_methods li.wc_payment_method > input[type="radio"] {

        position: relative;

        top: 3px; }

      .st-woo-checkout-form .woocommerce-checkout-payment .wc_payment_methods li.wc_payment_method .payment_box {

        font-size: 14px !important; }

  .st-woo-checkout-form .woocommerce-checkout-payment .place-order {

    padding-left: 0px !important;

    padding-right: 0px !important; }

    .st-woo-checkout-form .woocommerce-checkout-payment .place-order .button {

      float: left !important;

      background: #5191FA;

      font-size: 14px;

      font-weight: 450;

      padding: 10px 25px; }

      .st-woo-checkout-form .woocommerce-checkout-payment .place-order .button:hover {

        background: #5191FA; }

.st-coupon-wrapper {

  margin-top: 45px; }

  .st-coupon-wrapper .woocommerce-info {

    border-top-color: #5191FA !important; }

    .st-coupon-wrapper .woocommerce-info:before {

      color: #5191FA  !important; }

    .st-coupon-wrapper .woocommerce-info a {

      color: #5191FA; }

  .st-coupon-wrapper .checkout_coupon .form-row {

    margin-bottom: 0px; }

  .st-coupon-wrapper .checkout_coupon input[type="text"] {

    border: 1px solid #DAE1E7;

    border-radius: 3px;

    -webkit-box-shadow: none;

    box-shadow: none;

    margin-bottom: 30px;

    height: 40px;

    padding-left: 15px;

    padding-right: 15px; }

  .st-coupon-wrapper .checkout_coupon input[type="submit"] {

    background: #5191FA;

    border-radius: 3px;

    height: 40px; }

.st-woo-thankyou-page .box-icon-success {

  height: 65px;

  width: 65px;

  background: #1CD81C !important;

  border-radius: 50%;

  color: #fff;

  line-height: 65px;

  font-size: 40px;

  text-align: center;

  display: block;

  margin: auto;

  margin-top: 50px; }

.st-woo-thankyou-page header h2 {

  margin: 0;

  color: #1A2B48;

  font-size: 24px;

  font-weight: 500;

  margin-bottom: 20px; }

.st-woo-thankyou-page header h3 {

  margin: 0;

  color: #1A2B48;

  font-size: 22px;

  font-weight: 500;

  margin-bottom: 20px; }

.st-woo-thankyou-page .order-payment-list {

  padding: 0; }

  .st-woo-thankyou-page .order-payment-list li {

    font-size: 14px; }

    .st-woo-thankyou-page .order-payment-list li.order_item {

      list-style: none;

      border-bottom: 1px dashed #dfdfdf;

      padding-bottom: 15px;

      margin-bottom: 15px; }

      .st-woo-thankyou-page .order-payment-list li.order_item h5 {

        font-size: 16px; }

        .st-woo-thankyou-page .order-payment-list li.order_item h5 .fa {

          display: none; }

      .st-woo-thankyou-page .order-payment-list li.order_item:last-child {

        margin-bottom: 0px;

        border: none; }

    .st-woo-thankyou-page .order-payment-list li a {

      color: #5191FA; }

.st-woo-thankyou-page .text-right .text-lg {

  font-size: 18px;

  font-weight: 450; }

  .st-checkout-page .cart-info .info-section hr:last-child {
    display: none;
  }
  .st-checkout-page .cart-info .service-section .service-left .address {
    padding: 0px 4px 0px 0px;
}

.st-checkout-page .btn-checkout{
 margin-top: 0px!important;
}