/*Send inquirement*/
.single .st-sent-mail-customer {
  padding: 0px 20px 0px 20px;
  position: relative;
  border-top: 1px solid #D7DCE3;
  background-color: #FFF; }
  .single .st-sent-mail-customer .form-st-send-mail {
    margin-top: 0px; }
    .single .st-sent-mail-customer .form-st-send-mail .st_send-mail-form .form-group {
      border-top: none !important;
      margin-top: 5px; }
      .single .st-sent-mail-customer .form-st-send-mail .st_send-mail-form .form-group input {
        border: none;
        padding: 20px 5px;
        border-bottom: 1px solid #D7DCE3;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
        -webkit-transition: border-color; }
    .single .st-sent-mail-customer .form-st-send-mail .st_send-mail-form .sent-email-st {
      background: #5191FA !important;
      color: #FFF !important; }
    .single .st-sent-mail-customer .form-st-send-mail .st_send-mail-form textarea {
      height: 80px;
      border: none;
      padding: 20px 5px;
      border-bottom: 1px solid #D7DCE3;
      border-radius: 0px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
      -webkit-transition: border-color; }

.single .form-book-wrapper nav > .nav.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  color: #fff;
  background: #F9F9F9;
  border-radius: 0;
  padding: 0px; }

.single .form-book-wrapper nav > .nav-fill-st li {
  width: 50%;
  display: block;
  padding: 20px;
  text-align: center;
  position: relative; }

.single .form-book-wrapper nav > .nav-fill-st a {
  position: relative;
  border: none;
  padding: 0px;
  background-color: #F9F9F9;
  color: #5E6D77;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block; }

.single .form-book-wrapper nav > .nav-fill-st .active a {
  border: none;
  color: #5191FA;
  background: #F9F9F9;
  border-radius: 0; }

.single .form-book-wrapper nav > .nav-fill-st .active a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0px;
  background-color: #5191FA;
  width: 100%;
  height: 1px;
  bottom: -3px; }

.single .tab-content {
  background: #FFF;
  border-bottom: 5px solid #5191FA;
  padding: 0px; }

.single .form-book-wrapper nav > .nav-fill-st a:hover,
.single .form-book-wrapper nav > .nav-fill-st a:focus {
  border: none;
  background: #F9F9F9;
  color: #5191FA;
  border-radius: 0;
  -webkit-transition: background 0.20s linear;
  transition: background 0.20s linear; }

#nav-tabContent form {
  position: relative; }

#st-content-wrapper .form-book-wrapper.inline .form-st-send-mail .form-group {
  width: 50%;
  border: none; }

.form-single-style-2 .form-st-send-mail .form-group:nth-child(2n+1) {
  padding-right: 5px; }

.form-single-style-2 .form-st-send-mail .form-group:nth-child(2n) {
  padding-left: 5px; }

#st-content-wrapper .form-book-wrapper.inline .form-st-send-mail .form-group.st_note_send_email {
  width: 100%;
  padding: 0px; }

#st-content-wrapper .form-book-wrapper.inline .form-st-send-mail {
  margin-top: 0px; }

#st-content-wrapper .form-book-wrapper .form-head {
  padding: 17px 20px;
  background: #5191FA;
  font-size: 12px;
  color: #fff; }
  #st-content-wrapper .form-book-wrapper .form-head span.price {
    font-site: 14px;
    color: #FFF; }

.single .form-book-wrapper nav {
  background: #F9F9F9; }

#st-content-wrapper .form-book-wrapper .form-group.form-date-field.date-enquire {
  padding-left: 0px !important; }
  #st-content-wrapper .form-book-wrapper .form-group.form-date-field.date-enquire .check-in-wrapper {
    padding: 0px; }

#st-content-wrapper .form-book-wrapper ul.st_grid_date {
  margin: 0px;
  padding: 0px;
  display: inline-table;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #st-content-wrapper .form-book-wrapper ul.st_grid_date li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 50%;
    display: block;
    text-align: center;
    position: relative; }
    #st-content-wrapper .form-book-wrapper ul.st_grid_date li:nth-child(1) {
      border-right: 1px solid #D7DCE3; }
    #st-content-wrapper .form-book-wrapper ul.st_grid_date li:nth-child(2) {
      border-left: 1px solid #D7DCE3; }
    #st-content-wrapper .form-book-wrapper ul.st_grid_date li .st-item-date {
      padding: 20px; }

#st-content-wrapper.st-single-car .form-book-wrapper .field-detination {
  border-top: none;
  padding: 0px !important; }

#st-content-wrapper.st-single-tour .form-book-wrapper .form-date-search {
  padding-left: 0px !important; }

#st-content-wrapper .form-book-wrapper .form-head .price .label, #st-content-wrapper .form-book-wrapper .form-head .price .value .text-lg {
  color: #FFF !important; }

form .ccv-success {
  min-height: 300px;
  position: relative; }
  form .ccv-success .content-message {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 21%;
    width: 100%;
    text-align: center;
    font-size: 14px; }

.single.single-location .tab-content {
  border-bottom: none; }

.single.single-location .tab-content {
  background-color: transparent; }

/*Custom css*/
@media screen and (max-width: 1300px) {
  #header .header .header-right .st-list li:last-child {
    display: none; } }

@media screen and (max-width: 1300px) {
  #header .header .header-right .st-list li:last-child.dropdown-minicart {
    display: block; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home #st-content-wrapper.search-result-page .search-form-wrapper .search-form {
    min-height: 78px; }
  /*.search-result-page .search-form-wrapper .search-form.hotel-search-form.in_tab .col-md-3:nth-child(2){
         width: 35%;
     }*/
  .search-result-page .search-form-wrapper .search-form.hotel-search-form.in_tab .col-md-3:nth-child(3) {
    width: 25%; }
  /*.search-result-page .search-form-wrapper .search-form.hotel-search-form.in_tab .col-md-3:nth-child(4){
         width: 13.5%;
         padding: 0;
     }*/
  .search-result-page .search-form-wrapper .search-form.hotel-search-form.in_tab .form-button .btn-search {
    min-height: 78px;
    width: 100%;
    top: 0; }
  #tp_flight .search-form form .field-destination .border-right {
    display: none; }
  .search-result-page .search-form-wrapper .search-form .form-date-field.has-icon .date-wrapper > div {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .search-result-page .search-form-wrapper .search-form.hotel-search-form.in_tab .form-button .advance {
    display: none; }
  .search-result-page .search-form-wrapper #st_cars .search-form.hotel-search-form.in_tab .form-date-field {
    height: 78px; }
  .search-result-page .search-form-wrapper #st_cars .search-form .form-date-field label {
    display: block; }
  .search-result-page .search-form-wrapper #st_cars .search-form .form-date-field.has-icon .date-wrapper > div {
    width: auto !important; } }

@media screen and (max-width: 1111px) {
  #header .header .header-left {
    display: -webkit-box;
    display: -webkit-inline-box; }
  #header .header .header-left .logo {
    margin-right: 0;
    float: none; }
  #header .header .header-left #st-main-menu .main-menu > li > a {
    padding: 35px 20px; } }

@media screen and (max-width: 991px) {
  .st-header-2 header#header {
    margin-bottom: -106px; } }

.st-list-tour-related .item h4.title {
  font-size: 16px; }

.st-list-tour-related .item-service .service-title {
  font-size: 16px; }

#sticky-halfmap .top-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/* The switch - the box around the slider */
#sticky-halfmap .top-filter .switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px; }

/* Hide default HTML checkbox */
#sticky-halfmap .top-filter .switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
#sticky-halfmap .top-filter .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

#sticky-halfmap .top-filter .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  left: 2px; }

#sticky-halfmap .top-filter input:checked .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -13px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

#sticky-halfmap .top-filter input:checked + .slider {
  background-color: #5191FA; }

#sticky-halfmap .top-filter input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

#sticky-halfmap .top-filter input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  transform: translateX(15px); }

/* Rounded sliders */
#sticky-halfmap .top-filter .slider.round {
  border-radius: 18px; }

#sticky-halfmap .top-filter .slider.round:before {
  border-radius: 50%; }

.header .logo img {
  max-height: 91px;
  max-width: 100%; }
